@import '../../globals';
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 6em;
    background: $mainYellow;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $mainFont;
}